.sidebar {
  width: 96px;
  height: 100vh;
  transition: width 1s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  background: rgba(255, 255, 255, 0.1); /* light transparent base */
  backdrop-filter: blur(8px); /* Apply blur to what's behind */
  -webkit-backdrop-filter: blur(8px); /* For Safari */
  border-right: 1px solid rgba(255, 255, 255, 0.2); /* Optional soft edge */
  z-index: 1000;
}

.app-logo {
  position: fixed;
  top: 20px;
  left: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 1000;
}

.sidebar_nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  width: 100%;
}

.sidebar-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 20px;
  margin-left: 30px;
  gap: 12px;
  color: #585858;
  font-size: 20px;
  text-decoration: none;
  transition: background 0.3s, color 0.3s;
  white-space: nowrap;
  position: relative;
}

.label {
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  white-space: nowrap;
}

.sidebar:hover {
  width: 200px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.05)
  );
}

.sidebar-icon:hover{
  color:  #848b93;
}

.sidebar:hover .label {
  opacity: 1;
  transform: translateX(15);
  overflow: visible;
}
