.dashboard-main {
  width: 100%;
  margin-top: -70px;
}

.dashboard {
  display: flex;
  gap: 1rem;
}

.main-content {
  width: 75%;
}

.side-content {
  width: 25%;
}

.dashboard-layout {
  display: flex;
  height: 100vh;
  background: linear-gradient(90deg, #eaf2fb, #edf3fa);
}

.dashboard-layout app-sidebar {
  width: 100px;
  flex-shrink: 0;
}

.dashboard-content {
  flex: 1;
  padding: 10px 24px;
  overflow-y: auto;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #eaf2fb, #edf3fa);
  padding-top: 5px;
  padding-left: 10px;
  border-radius: 16px;
  margin-bottom: 10px;
}

.dashboard-header-left {
  font-size: 28px;
  color: #333;
  min-width: 400px;
}

.dashboard-header-right {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #f1f6fa, #c5ddfa);
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  padding: 8px 16px;
  margin-bottom: 10px;
  gap: 16px;
}

.dashboard-row-cards {
  display: flex;
  gap: 1rem;
}

.profile-initial {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #5cbeff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-transform: uppercase;
}

.cover{
  background-color: #bbe4ff;
  height: 120px;
  width: calc(100% + 48px);
  margin: 0 -24px;
}

.department-card {
  display: flex;
  padding: 10px;
  gap: 5px;
  width: 100%;
  background: transparent;
}

.department-name{
  font-size: 1.4rem;
}

.tabs {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
  gap: 4px;
}

.tab-item {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 4px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s ease;
  margin-bottom: 5px;
  color: #797d82;
}

.tab-item:hover {
  background-color: #f0efef;
  color: #333
}

.tab-icon {
  width: 16px;
  height: 16px;
  margin-bottom: 4px;
}

.tab-label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  margin: 0;
}

.tab-item.active {
  border-bottom: 2px solid #5e5e5e;
  color:#333;
}

.overview-header{
  margin: 0 20%;
}

.title{
  font-size: 1.8rem;
  margin: 30px 0;
}

.overview-content{
    margin: 0 20%;
}

.members-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  background-color: #fff;
  width: 300px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.03);
  font-family: 'Segoe UI', sans-serif;
  background: transparent;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header h3 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
}

.view-all-btn {
  background: transparent;
  border: none;
  color: #797d82;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 0.85rem;
  cursor: pointer;
}

.view-all-btn:hover {
  background: #f0efef;
  color: #333;
}

.members-list {
  display: flex;
  gap: 0.75rem;
  margin-top: 1rem;
  align-items: center;
}

.member-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  font-size: 0.85rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-transform: lowercase;
  background-color: #d8cfff;
  color: #5b21b6;
}


.member-add {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px dashed #797d82;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: #444;
  cursor: pointer;
}

.overview-header-icon:hover .overview-icon-letter{
  transform: translateY(19%);
}

.overview-header-icon:hover .edit-button {
  display: block;
}

.edit-icon{
  height: 20px;
  width: 20px;
}

.overview-header-icon{
  display: flex;
  flex-direction: column;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 4px solid white;
  color: white;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  margin-top: -60px;
  position: relative;
  font-size: 100px;

}

.overview-header-icon:hover {
  background-color:   #58b4f1;
}

.department-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  padding: 16px;
}

.department-profile-card {
  display: flex;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  overflow: hidden;
  font-family: sans-serif;
  background-color: white;
  margin-bottom: 15px;
}

.department-avatar {
  background-color: #c9b6fc;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  font-size: 2.5rem;
  font-weight: 600;
  color: #333;
  text-transform: uppercase;
}

.department-details {
  padding: 16px;
  width: 60%;
}

.department-details h2 {
  margin: 0;
  font-size: 1.2rem;
}

.head, .members {
  font-size: 0.9rem;
  color: #666;
  margin: 6px 0;
}

.buttons {
  margin-top: 12px;
}

.buttons button {
  background-color: white;
  border: 1px solid #ccc;
  padding: 6px 12px;
  border-radius: 5px;
  margin-right: 8px;
  cursor: pointer;
  font-size: 0.85rem;
}

.shift-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 2px auto 0;
}
