
.dashboard-layout {
  display: flex;
  height: 100vh;
  background: linear-gradient(90deg, #eaf2fb, #edf3fa);
}

.dashboard-layout app-sidebar {
  width: 100px;
  flex-shrink: 0;
}
.dashboard-content {
  flex: 1;
  padding: 10px 24px;
  overflow-y: auto;
  margin-top: 70px;
}
