.modal {
  padding: 20px;
  border-radius: 4px;
  min-width: 400px
}

.actions-card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;   /* pushes title left, close btn right */
  padding: 16px 20px;
  font-size: 20px;
  font-weight: 600;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}

.edit-icon {
  width: 18px;
  height: 18px;
}

.circle-btn {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid #dcdcdc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #fff;
  transition: 0.2s;
}

.circle-btn:hover {
  box-shadow: 0 4px 10px rgba(0,0,0,0.12);
}

