@import './assets/styles/app-styles.css';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Optional: makes sure padding and borders are included in width/height */
}
html, body { height: 100%;}
body { margin: 0;  font-family: 'Halenoir', sans-serif; }
