<div class="chat-container" *ngIf="selectedUser">
  <div class="chat-header">
    <img class="avatar" src="../../assets/icons/profile-circle.svg" />
    <div class="header-user-info">
      <div class="user-name">User</div>
      <div class="status-indicator" [class.online]="isOnline" [class.offline]="!isOnline">
        {{ isOnline ? 'online' : 'offline' }}
      </div>
    </div>
  </div>

  <div #msgContainer class="chat-messages">
    <div *ngFor="let msg of messages" class="message" [class.me]="msg.fromMe">
      <div class="bubble">{{ msg.text }}</div>
      <div class="time">{{ msg.time }}</div>
    </div>
  </div>

  <div class="chat-input">
    <input placeholder="Type a message..." [(ngModel)]="messageText" (keyup.enter)="sendMessage()" />
    <button mat-icon-button color="primary" (click)="sendMessage()">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>

<div *ngIf="!selectedUser" class="no-chat">Waiting for messages...</div>
