name: workflow.yml
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - uses: actions/setup-node@v6
      - run: |
          npm ci
          npm build
        working-directory: frontend
      - run: |
          cargo build --release
        working-directory: backend

      - run: |
          tree -a backend/target/release

#      - uses: svenstaro/upload-release-action@v2
#        with:
#          repo_token: ${{ secrets.GITHUB_TOKEN }}
#          file: target/${{ matrix.target }}/release/${{ matrix.artifact_name }}
#          asset_name: ${{ matrix.asset_name }}
#          tag: ${{ github.ref }}
