name: workflow.yml
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - uses: actions/setup-node@v6
      - uses: Swatinem/rust-cache@v2

      - run: |
          npm ci
          npm run build
        working-directory: frontend

      - run: |
          cargo build --release
          stat target/release/backend

      - uses: svenstaro/upload-release-action@v2
        with:
          file: target/linux/release/backend