name: workflow.yml
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - uses: actions/setup-node@v6
      - uses: Swatinem/rust-cache@v2

      - run: |
          npm ci
          npm run build
        working-directory: frontend

      - run: |
          cargo build --release
          stat target/release/backend

      - run: |
          mkdir -p ~/.ssh
          echo "$PRIVATE_KEY" > ~/.ssh/deploy_key
          chmod 600 ~/.ssh/deploy_key
          ssh-keyscan -H $HOST >> ~/.ssh/known_hosts
          
          scp -i ~/.ssh/deploy_key target/release/backend $USER@$HOST:/home/$USER/app2
          
          ssh -i ~/.ssh/deploy_key $USER@$HOST "
            sudo /home/$USER/start.sh
          "
        env:
          PRIVATE_KEY: ${{ secrets.SSH_KEY }}
          HOST: ${{ secrets.HOST }}
          USER: ${{ secrets.USER }}
        continue-on-error: true
        timeout-minutes: 5